{% extends "base" %}

{% block title %}404 Fot Found{% endblock title %}

{% block main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h1">404 <em>Not Found</em></h1>
  </div>

  <p>
  	Check if this address is correct. Maybe try something in the sidebar?
  </p>
  <p style="display:inline-block;background:#f6f6f6;padding:20px;">
  	<tt style="font-size:20px">{{path}}</tt>
  </p>
{% endblock main %}