{% extends "base.html" %}

{% block title %}Slingshot{% endblock title %}

{% block main %}

<h1>Slingshot</h1>

<div id="chat">
    <p><em>Connecting...</em></p>
</div>

<input type="text" id="text" />

<button type="button" id="send">Send</button>

<script type="text/javascript">
    const chat = document.getElementById('chat');
    const text = document.getElementById('text');
    const uri = 'ws://' + location.host + '/ws';
    const ws = new WebSocket(uri);
    function message(data) {
        const line = document.createElement('p');
        line.innerText = data;
        chat.appendChild(line);
    }
    ws.onopen = function() {
        chat.innerHTML = '<p><em>Connected!</em></p>';
    };
    ws.onmessage = function(msg) {
        message(msg.data);
    };
    ws.onclose = function() {
        chat.getElementsByTagName('em')[0].innerText = 'Disconnected!';
    };
    send.onclick = function() {
        const msg = text.value;
        ws.send(msg);
        text.value = '';
        message('<You>: ' + msg);
    };
</script>
{% endblock main %}

