<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Oleg Andreev oleganza@gmail.com">

    <title>{% block title %}ZkVM Demo{% endblock title %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/static/main.css" rel="stylesheet">
    {% endblock head %}
  </head>
  <body>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 bg-light sidebar">
        <div class="sidebar-sticky" id="sidebar">

          <center><img src="/static/motocrab.png" alt="zkvm motocrab" id="logo"/></center>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Network</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <span data-feather="activity"></span>
                Status
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/network/mempool">
                <span data-feather="clock"></span>
                Mempool
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/network/blocks">
                <span data-feather="database"></span>
                Blocks
              </a>
            </li>
          </ul>


          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Accounts</span>
          </h6>

          <ul class="nav flex-column">
            {% for node in sidebar.nodes %}
              <li class="nav-item">
                <a class="nav-link" href="/nodes/{{ node.wallet.alias }}">
                  <span data-feather="user"></span>
                  {{ node.wallet.alias }}
                </a>
              </li>
            {% endfor %}
            <li class="nav-item nav-separator">
            <li class="nav-item nav-action-item">
              <a class="nav-link" href="/ignore" data-toggle="modal" data-target="#new-node">
                <span data-feather="plus-circle"></span>
                New account
              </a>
            </li>
          </ul>


          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Assets</span>
          </h6>

          <ul class="nav flex-column">
            {% for asset in sidebar.assets %}
              <li class="nav-item">
                <a class="nav-link" href="/assets/{{ asset.alias }}">
                  <span data-feather="user"></span>
                  {{ asset.alias }}
                </a>
              </li>
            {% endfor %}
            <li class="nav-item nav-separator">
            <li class="nav-item nav-action-item">
              <a class="nav-link" href="/ignore" data-toggle="modal" data-target="#new-asset">
                <span data-feather="plus-circle"></span>
                New asset
              </a>
            </li>
          </ul>


        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        {% if flash %}
          {% if flash.name == "error" %}
          <div class="alert alert-danger" role="alert">
            {{ flash.msg }}
          </div>
          {% endif %}
          {% if flash.name == "success" %}
          <div class="alert alert-success" role="alert">
            {{ flash.msg }}
          </div>
          {% endif %}
        {% endif %}

        <!--div class="alert alert-danger" role="alert">
          Some long and disappointing error message!
        </div>
        <div class="alert alert-success" role="alert">
          Some long success message: 257ff3b0c0...74e4b823687d
        </div-->

        {% block main %}
        <center>N/A</center>
        {% endblock main %}
      </main>
    </div>
  </div>


<!-- New Node form -->

<div class="modal fade" id="new-node" tabindex="-1" role="dialog" aria-labelledby="new-node-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/nodes/create" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="new-node-label">New node</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="new-node-alias" class="col-form-label">Node alias:</label>
            <input type="text" class="form-control" name="alias" id="new-node-alias" autocomplete="off"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create node</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- New asset form -->

<div class="modal fade" id="new-asset" tabindex="-1" role="dialog" aria-labelledby="new-asset-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/assets/create" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="new-asset-label">Issue new asset</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="new-asset-alias" class="col-form-label">Asset alias:</label>
            <input type="text" class="form-control" name="asset_alias" id="new-asset-alias" autocomplete="off"/>
          </div>
          <div class="form-group">
            <label for="new-asset-qty" class="col-form-label">Quantity:</label>
            <input type="text" class="form-control" name="qty" id="new-asset-qty" autocomplete="off"/>
          </div>
          <div class="form-group">
            <label for="recipient" class="col-form-label">Recipient</label>
            
            <select class="form-control" id="recipient_alias" name="recipient_alias">
              {% for node in sidebar.nodes %}
                {% if node.wallet.alias != "Issuer" %}
                <option value="{{node.wallet.alias}}">{{node.wallet.alias}}</option>
                {% endif %}
              {% endfor %}
            </select>
          
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Issue</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.7.1/svg.min.js" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>

{% block page_script %}
{% endblock page_script %}

</body>
</html>

